.hidden {
    display: none !important;
}

.button-title {
    font-family: 'Major Mono Display', monospace;
    color: white;
    align-content: center;
    font-size: clamp(0.8rem, 2vw, 1.5rem); 
    text-align: center;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;  
    background-color: black;
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

header {
    display: flex;
    padding: 30px;
    background-color: #1F2937;
}

.logo {
    height: auto;
    width: 50px;
    transform: scaleX(-1);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav {
    display: flex;
    gap: 15px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

nav a:link {
    color: rgb(195, 219, 219);
}

nav a:visited {
    color: #959699;
}

#choose {
    text-align: center;
    color: white;
    font-family: 'Major Mono Display', monospace;
    font-weight: bold;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    flex: 1;                 
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    font-size: 15px;
    gap: 24px
}

#result-text {
    color: white;
    font-family: 'Major Mono Display', monospace;
}

#scoreboard {
    color: white;
    font-family: 'Major Mono Display', monospace;
    text-align: center;
}

.buttonImg {
    height: auto;
    width: 180px;
    border-radius: 50%;
    margin-bottom: 5px;
    border-style: solid;
    border-color: white;
}

#results {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
} 